body{
  background-color: #ebf2ef;
}
h1{
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  color: #0d1b36;
}
img{
  max-height: 200px;
}
h2{
  color: #0d1b36;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
h4{
  color: #4b4279;
  font-family: "Times New Roman", Times, serif;
  font-weight:bold;
}
h5{
  color: #416ca4;
  font-family: "Times New Roman", Times, serif;
  font-style:italic;
}
h6{
  color: #865081;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}
p{
  color: black;
  font-family: "Times New Roman", Times, serif;
}
hr {
 border-top: 1px solid #f97a85;
}
a {
  color: #865081;
}
